/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .docsNavContainer {
    border-right: 1px solid #DDD;
  }
  .mainContainer {
    background: #FFF;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.example-output {
  background: #222;
  padding: 1rem;
  color: #FFF;
  font-weight: 300;
  font-size: 85%;
}
pre.stacked {
  margin-top: -16px;
}
.hljs {
  border: 1px solid #222;
  border-radius: 0;
}
code, pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
}

.headerWrapper .logo {
  background: #222;
  transition: background 200ms;
}
.headerWrapper .logo:hover {
  background: #0084DB;
}

body a, .toc .toggleNav ul li.navListItemActive a {
  color: #0084DB;
}
body a:hover {
  color: #0084DB;
}
